{% interface
Base {
    CSS()
    JS()
    Title()
    Body()
}
%}

{% func BaseLayout(b Base) %}

<!DOCTYPE html>

<html lang="en">

	<!-- begin::Head -->
	<head>
		<base href="">
		<meta charset="utf-8" />
		 <title>{%= b.Title() %} | Muhammet Arslan</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{%= b.CSS() %}
	</head>

	<!-- end::Head -->

	<!-- begin::Body -->
	<body>

		{%= b.Body() %}

	</body>
		
		{%= b.JS() %}

{% endfunc %}
